# Mac OS X
.DS_Store

# Node.js
node_modules/*
npm-debug.log

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

# WebStorm
.idea

# Typescript
commonjs/*.d.ts
test/spec/typings/typingsSpec.js

# SauceLabs logs
*.log

.artifacts
